.allCourse-item {
	margin-bottom: 20px;
	border-radius: 6px;
	padding: 0 10px;
	cursor: pointer;
	&:hover {
		.wrap-image-IC {
			transform: scale(1.2);
			transition: all 3s ease;
			transform-origin: center;
			opacity: 0.2;
		}
	}
	.image {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		position: relative;
		.wrap-img {
			box-sizing: border-box;
			overflow: hidden;
			width: 100%;
			height: 170px;
			background: black;
		}
		.wrap-image-IC {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			border-bottom: 1px solid #00000040;
		}
		img {
			width: 100%;
			height: 100%;
			transition: all 0.3s ease;
			background-position: center;
			background-size: cover;
		}
		.teacher-img {
			position: relative;
			padding: 5px 0px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid white;
				padding: 1px;
				display: block;
				margin: auto;
			}
			.align-center {
				align-items: center;
			}
			.left-side {
				padding: 0px 5px;
				.teacher-name {
					display: block;
					text-align: center;
					font-family: $font-title;
					font-size: 12px;
					height: 50px;
				}
			}
			.right-side {
				padding: 0px 5px;
				.course-name {
					font-weight: 700;
					@include text_overflow(1);
					font-size: 20px;
				}
				.more-infomation {
					display: flex;
					justify-content: space-between;
					.more-info-item{
						text-align: center;
					}
					span {
						font-size: 12px;
						margin-left: 3px;
					}
					i {
						font-size: 12px;
						color: $color-pr-3;
					}
					.dollar {
						p{
							color: $color-pr-1;
						}
					}
					p {
						text-align: center;
						font-size: 20px;
					}
				}
			}
		}
	}
	.course-info {
		display: none;
	}
}
.popover {
	max-width: 100% !important;
	top: 54px !important;
	border: 0 !important;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	width: 290px;
	height: 288px;
	left: -20px;
	.popover-inner {
		height: 100%;
		.popover-body {
			height: 100%;
		}
	}
	.course-info {
		.course-name {
			font-family: $font-title;
			@include text($color-pr-1, $fs-lg - 5, $fw-bold-1);
			margin: 0;
			@include text_overflow(2);
		}
		.text-sm {
			@include text(rgba(0, 0, 0, 0.7), $fs-sm, normal);
		}
		.course-description {
			height: 80px;
			@include text(rgb(32, 29, 29), $fs-md, $fw-bold-1);
			letter-spacing: 1px;
			margin-top: 10px;
			@include text_overflow(4);
		}
		.more-infomation {
			@include text(black, $fs-sm, $fw-bold-1);
			word-spacing: 3px;
			&::before,
			&::after {
				display: inline-block;
				vertical-align: middle;
				height: 1px;
				width: 60px;
				margin-right: 5px;
				content: '';
			}
			&::before {
				background: linear-gradient(to left, $color-pr-2, transparent);
			}
			&::after {
				margin-left: 5px;
				background: linear-gradient(to right, $color-pr-2, transparent);
			}
			i {
				color: $color-pr-3;
			}
		}
		.detail-course {
			position: absolute;
			bottom: 20px;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
		}
	}
}
