.info-elearning {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
	.ie-overflow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.75);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ie-content {
		padding: 100px 250px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		.icon-group {
			text-align: center;
			letter-spacing: 1px;
			i {
				@include text(white, 80px, $fw-thin);
			}
			.name-icon {
				font-family: $font-title;
				@include text($color-se-3, $fs-md, $fw-bold-2);
				text-transform: uppercase;
				margin-top: 5px;
			}
			.amount {
				font-family:$font-title ;
				@include text($color-pr-3, 60px, $fw-thin);
			}
		}
	}
}
