.feel {
	margin-top: 40px;
	padding: 0 70px 170px;
	position: relative;
	text-align: center;
	.title {
		&::before,
		&::after {
			display: inline-block;
			vertical-align: middle;
			height: 1px;
			width: 300px;
			margin-right: 15px;
			content: '';
			background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
		}
		&::after {
			margin-left: 15px;
			background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
		}
	}
	.main-content {
		margin-top: 40px;
		.carousel {
			.carousel-inner {
				width: 90%;
				margin: 0 auto;
			}
			.content {
				@include text(gray, $fs-md-lg - 3, $fw-thin);
				line-height: 32px;
				font-style: italic;
				margin-bottom: 27px;
			}
			.info {
				font-style: italic;
				font-family: $font-title;
				@include text($color-pr-1, $fs-md, $fw-bold-1);
				span {
					color: black;
				}
			}
			.carousel-control-prev,
			.carousel-control-next {
				top: -65px;
				font-size: 100px;
				font-weight: 100;
				color: rgba(0, 0, 0, 0.3) !important;
				&:hover {
					color: $color-pr-2 !important;
				}
			}
			.carousel-control-prev {
				left: -90px;
			}
			.carousel-control-next {
				right: -90px;
			}
			.carousel-indicators {
				bottom: -75px;
				.img-info {
					position: relative;
					z-index: -2;
					margin: 0 -3px;
					border-radius: 50%;
					overflow: hidden;
					transform: scale(1);
					transition: all 0.2 linear;
					width: 50px;
					height: 50px;
					img {
						width: 100%;
						height: 100%;
						background-size: cover;
						background-position: center center;
					}
					.overflow {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.7);
					}
					&:first-child {
						z-index: -1;
					}
					&:last-child {
						z-index: -1;
					}
					&.active {
						z-index: 9999;
						transform: scale(1.1);
						.overflow {
							background: transparent;
						}
					}
				}
			}
		}
	}
}
