@include mediaQuery('xl'){
    .blog{
        margin-top: 47px;
        .blog-content {
            padding: 50px;
        }
    }
}
@include mediaQuery('lg'){
    .blog {
        .blog-content {
            padding: 50px;
        }
    }
    
}
@include mediaQuery('md'){
    .blog-main-content {
        .blog-item {
            .blog-wrap {
                height: 300px;
                img {
                    width: 100%;
                    transition: all 0.5s linear;
                    transform: scale(1);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .blog-item-content {
                h4 {
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@include mediaQuery('sm'){
    .blog-main-content {
        .blog-item {
            .blog-wrap {
                height: 200px;
                img {
                    width: 100%;
                    transition: all 0.5s linear;
                    transform: scale(1);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .blog-item-content {
                h4 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .pulse{
            transform: scale(0.8);
        }
    }
}